
body {
    background: var(--dark-color) !important;
    color: var(--text-color) !important;
}

:root {

    --main-color: #262626;
    --dark-color: #000;
    --contrast-color: #7655D5;
    --differential-color: #E96363;
    --text-color: #ffffff ;
    

}


